@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  background-color: #fdfbf8;
  color: #111;
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}

.btn-primary {
  @apply bg-yellow-600 hover:bg-yellow-700 text-white;
}
.btn-outline {
  @apply border border-gray-300 hover:bg-gray-50 text-gray-900;
}
